html, body {
    height: 100%;
    background: #EFEFEF;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

p {
    margin: 0px;
}

input {
    background-color: #fff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    font-size: 120%;
    display: block;
    border-radius: 5px;
    border: 0px;
}

hr {
    margin: 5px 0px !important;
}

a, a:active, a:focus, a:hover {
    text-decoration: none;
}

a div.results-box h4 {
    color: #333;
}

.sidebar {
    height: 100%;
    width: 50%;
    background-color: #306e7d;
    position: fixed !important;
    z-index: 1;
    right: 0px;
    overflow: auto;
    color: #FFF;
}

.sidebar a {
    display: block;
    clear: both;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    display: block;
    width: 100%;
    padding: 15px 20px 10px 20px;
    border-bottom: 1px solid #224d58;
}

#map {
    height: 40%;
}

.header {
    width: 100%; 
    background-color: #398396; 
    padding: 15px; 
    color: #FFF;
}

.header i {
    color: #FFF;
    display: inline-block;
    margin-top: 5px;
}

.header img.logo {
    width: 70%;   
    display: block;
}

.header h4 {
    margin: 0px;  
    display: inline-block;  
}

.header input {
    margin-top: 8px;
}

/* List page */
#results a:not(:first-of-type) .results-box {
    margin-top: 5px;
}

.results-box {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    margin: 7px;
}

.card-body p,
.results-box p {
    color: #777;
    line-height: 150%;
    margin-bottom: 0px;
}

/* Margins */

.m-b-none {
    margin-bottom: 0px;
}

.m-b-small {
    margin-bottom: 5px;
}

.m-b-negativefive {
    margin-bottom: -5px;
}


/* Facility page */

.container {
    margin-bottom: 5px;
}

.container .header-row {
    padding: 10px 15px 5px 15px;
}

.btn-primary {
    background: #398396;
}

.facility-bg {
    background-image: url('../images/rbwh.jpg');
    background-size: 160%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.caption {
    line-height: 160%;
    font-size: 85%;
    color: #AAA;
}

.facility-bg a {
    color: #FFF;
}

.facility-bg .back {
    margin-top: 15px;
    margin-left: 0px;
}

.facility-bg .card {
    margin: 0px auto; 
    margin-top: 30px;
}

.badge-secondary {
    font-size: 95%;
    background-color: #EFEFEF;
    color: #000;
    padding: 0.5em 0.5em !important;
}

.below-card {
    margin-top: -50px;
    padding-top: 70px;
    padding-bottom: 15px;    
}

.activity-indicator {
    margin: 0px auto;
    margin-top: 15px;
}

.activity-indicator .col-12 {
    border: 1px solid #EFEFEF;
    padding: 10px 10px;
}

.other-facilities .col-12 h5,
.facility-details .col-12 p {
    margin: 8px 0;
}

.facility-details .col-12.bg-white {
    margin-bottom: 1px;
}

.other-facilities {
    margin-bottom: 0px;
}

.other-facilities .card .card-body {
    padding: .5rem;
    font-size: 90%;
}

.mini-card {
    width: auto;
    display: inline-block !important;
    border-radius: 5px;
    padding: 0px 10px 5px 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.scrolling-wrapper {
    background-color: #FFF;
    padding: 5px 15px 15px 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;    
    -webkit-overflow-scrolling: touch;
}

.popular-times {
    padding-bottom: 15px;
}